/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 oct. 2017, 14:36:03
    Author     : snipe
*/

.corps{
    background-color: #25ba45;
}

.table{
    background-color: white;
}
